<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
<bean id="triangle" class="com.example.demo.Triangle">
<property name="pointA" ref="zeroPoint"/>
<property name="pointB" ref="point2"/>
<property name="pointC" ref="point3"/>
</bean>
<bean id="zeroPoint" class="com.example.demo.Point">
	<property name="x" value="0"/>
	<property name="y" value="0"/>

</bean>

<bean id="point2" class="com.example.demo.Point">
	<property name="x" value="-20"/>
	<property name="y" value="0"/>

</bean>

<bean id="point3" class="com.example.demo.Point">
	<property name="x" value="20"/>
	<property name="y" value="0"/>

</bean>
</beans>




<!--  
<constructor-arg index="0" value="Equilateral"/>
<constructor-arg index="1" value="20"/>
-->


<!--<constructor-arg type="String" value="Equilateral"/>  -->

<!-- <constructor-arg value="20"/> -->

<!-- <property name="type" value="Equilateral"/> -->

<!--  </bean> -->

<!-- com.example.demo.Triangle -->  




