<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans default-init-method="myInit" default-destroy-method="cleanUp" >

<bean id="triangle" class="com.example.demo.Triangle"  >
<property name="pointA" ref="pointA"></property>
<property name="pointB" ref="pointB"></property>
<property name="pointC" ref="pointC"></property>

</bean>

<bean id="pointA" class="com.example.demo.Point">
	<property name="x" value="${pointA.pointX}"/>
	<property name="y" value="${pointA.pointY}"/>

</bean>

<bean id="pointB" class="com.example.demo.Point">
	<property name="x" value="-20"/>
	<property name="y" value="0"/>

</bean>

<bean id="pointC" class="com.example.demo.Point">
	<property name="x" value="20"/>
	<property name="y" value="0"/>

</bean>

<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
<property name="locations" value="properyty.properties"/>
</bean>

<bean class="com.example.demo.MyBeanFactoryPostProcessor"/>

<bean id="circle" class="com.example.demo.Circle"  >
<property name="center" ref="pointA"></property>

</bean>


</beans>

<!--  
<bean class="com.example.demo.DisplayNameBeanPostProcesor"/>
-->


<!--   
<bean id="parenttriangle" class="com.example.demo.Triangle"  >
<property name="pointA" ref="pointA"></property>

</bean>

<bean id="triangle1" class="com.example.demo.Triangle" parent ="parenttriangle"  >
<property name="pointB" ref="pointB"></property>
<property name="pointC" ref="pointC"></property>

</bean>


<bean id="triangle2" class="com.example.demo.Triangle" parent ="parenttriangle"   >
<property name="pointB" ref="pointB"></property>

</bean>
-->

<!--  
<bean id="triangle" class="com.example.demo.Triangle" autowire="byName" scope="prototype"  >
-->

<!-- 
<bean id="triangle" class="com.example.demo.Triangle" name ="triangle-name">
<property name="points">
<list>
<ref bean="zeroPoint"/>
<ref bean="point2"/>
<ref bean="point3"/>

</list>
</property>
</bean>

<bean id="zeroPoint" class="com.example.demo.Point">
	<property name="x" value="0"/>
	<property name="y" value="0"/>

</bean>

<bean id="point2" class="com.example.demo.Point">
	<property name="x" value="-20"/>
	<property name="y" value="0"/>

</bean>

<bean id="point3" class="com.example.demo.Point">
	<property name="x" value="20"/>
	<property name="y" value="0"/>

</bean>

</beans>
 -->

<!--
<bean id="triangle" class="com.example.demo.Triangle" name ="triangle-name">
<property name="pointA" ref ="zeroPoint"/> 

 inner bean 
<property name="pointB" >
<bean class="com.example.demo.Point">
	<property name="x" value="-20"/>
	<property name="y" value="0"/>
</bean>
</property>

<property name="pointC" ref="point3"/>
</bean>

<bean  id="zeroPoint" class="com.example.demo.Point">
	<property name="x" value="0"/>
	<property name="y" value="0"/>

</bean>

  in inner bean
<bean id="point2" class="com.example.demo.Point">
	<property name="x" value="-20"/>
	<property name="y" value="0"/>

</bean>


<bean id="point3" class="com.example.demo.Point">
	<property name="x" value="20"/>
	<property name="y" value="0"/>

</bean>

<alias name="triangle" alias="triangle-alias"/>


</beans>


 -->

<!--  
<constructor-arg index="0" value="Equilateral"/>
<constructor-arg index="1" value="20"/>
-->


<!--<constructor-arg type="String" value="Equilateral"/>  -->

<!-- <constructor-arg value="20"/> -->

<!-- <property name="type" value="Equilateral"/> -->

<!--  </bean> -->

<!-- com.example.demo.Triangle -->  




